<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.AccountMapper">

    <insert id="insert" parameterType="com.example.demo.dto.AccountDTO">
        INSERT INTO account(username, password, type) VALUES(#{username}, #{password}, #{type})
    </insert>

    <select id="queryAccount" resultType="com.example.demo.vo.AccountVO">
        SELECT * FROM account WHERE username=#{username}
    </select>

    <update id="updatePersonalInfo" parameterType="map">
        UPDATE account SET name=#{name}, staff_id=#{staffId} WHERE username=#{username}
    </update>
    
    <insert id="addTestUser" parameterType="map">
        INSERT INTO account(username, password, type, name, staff_id) VALUES(#{username}, #{username}, #{type}, #{name}, #{staffId})
    </insert>
    
    <update id="updateTestUser" parameterType="map">
        UPDATE account SET name=#{name}, staff_id=#{staffId}, username=#{staffId} WHERE id = #{accountId}
    </update>
    
    <select id="queryAccountByStaffId" resultType="com.example.demo.pojo.Account">
    	SELECT * FROM account WHERE staff_id = #{staffId}
    </select>

</mapper>