<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ClassMapper">

    <select id="queryClassById" resultType="com.example.demo.pojo.ClazzPO">
        SELECT * FROM class WHERE class_id=#{classId}
    </select>

    <select id="queryClassByDepartmentId" resultType="com.example.demo.pojo.ClazzPO">
        SELECT * FROM class WHERE department_id=#{departmentId}
    </select>

    <select id="queryDepartmentList" resultType="com.example.demo.pojo.DepartmentPO">
        SELECT * FROM department
    </select>

</mapper>