<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.QuestionMapper">

    <insert id="addQuestion" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="param.id">
        INSERT INTO ${param.table}(title, answer, creator, create_time, show_title, subject_id, type) VALUES(#{param.title}, #{param.answer}, #{param.creator}, #{param.createTime}, #{param.showTitle}, #{param.subjectId}, #{param.type})
    </insert>

    <select id="queryQuestion" resultType="com.example.demo.vo.QuestionDetailVO">
        SELECT * FROM ${table}
         <where>
             <if test="date != null">
                 DATE_FORMAT(create_time,'%Y-%m-%d') LIKE DATE_FORMAT(#{date},'%Y-%m-%d')
             </if>
             <if test="creator != '' and creator != null">
                 AND creator LIKE CONCAT("%",#{creator},"%")
             </if>
             <if test="subject != null">
                 AND subject_id = #{subject}
             </if>
         </where>
    </select>

    <update id="updateQuestion" parameterType="map">
        UPDATE ${table} SET title=#{title}, show_title=#{showTitle}, answer=#{answer}, subject_id=#{subjectId} WHERE id=#{id}
    </update>

    <delete id="deleteQuestion" parameterType="map">
        DELETE FROM ${table} WHERE id IN
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="queryQuestionTotalNumber" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM ${table}
    </select>

    <select id="queryQuestionList" resultType="com.example.demo.vo.QuestionDetailVO">
        SELECT * FROM ${table} WHERE id IN
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <select id="queryQuestionIdList" resultType="java.lang.Integer">
        SELECT id FROM ${table} WHERE subject_id=#{subjectId}
    </select>

</mapper>
