<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.SubjectMapper">

    <select id="querySubjects" resultType="com.example.demo.pojo.SubjectPO">
        SELECT * FROM subject_teacher_ref r LEFT JOIN subject s ON r.subject_id = s.id WHERE r.username = #{username}
    </select>

    <insert id="addTeachSubject" >
        INSERT INTO subject_teacher_ref VALUES
        <foreach collection="list" item="id" separator=",">
            (#{staffId}, #{id}, #{staffId})
        </foreach>
    </insert>

    <select id="querySubjectList" parameterType="com.example.demo.pojo.SubjectPO">
        SELECT * FROM subject
        <where>
            <if test="title != null and title != ''">
                `name` = #{title}
            </if>
        </where>
    </select>



</mapper>