<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.StudentMapper">

    <insert id="addStudent" parameterType="map">
        INSERT INTO student(staff_id, name, class_id, username) VALUES(#{staffId}, #{name}, #{classId}, #{username})
    </insert>

    <select id="queryStudentByUsername" resultType="com.example.demo.pojo.StudentPO">
        SELECT * FROM student WHERE username = #{username}
    </select>
    
    <select id="queryStudentById" resultType="com.example.demo.pojo.StudentPO">
        SELECT * FROM student WHERE id = #{id}
    </select>
    
    <update id="updateStudentInfo" parameterType="map">
    	UPDATE student SET name=#{name}, class_id=#{classId}, department_id=#{departmentId}, 
    	staff_id=#{staffId}, username=#{staffId} WHERE id=#{id}
    </update>
    
    <select id="queryStudentList" parameterType="map" resultType="com.example.demo.pojo.StudentPO">
    	SELECT * FROM student 
    	<where>
    		<if test="name != null and name != ''">
    			name LIKE CONCAT("%",#{name},"%")
    		</if>
    		<if test="staffId != null">
    			AND staff_id = #{staffId}
    		</if>
    		<if test="classId != null">
    			AND class_id = #{calssId}
    		</if>
    		<if test="departmentId != null">
    			AND department_id = #{departmentId}
    		</if>
    	</where>
    </select>
    
    <delete id="deleteStudent" parameterType="list">
    	DELETE FROM student WHERE id IN 
    	<foreach collection="list" item="id" open="(" close=")" separator=",">
    		#{id}
    	</foreach>
    </delete>

</mapper>