<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.TeacherMapper">

	<select id="queryTeacherList" resultType="com.example.demo.pojo.TeacherPO">
		SELECT * FROM teacher
		<where>
			<if test="staffId != null and staffId != ''">
				staff_id = #{staffId}
			</if>
			<if test="name != null and name != ''">
				AND name LIKE CONCAT("%",#{name},"%")
			</if>
			<if test="departmentId != null">
				AND department_id = #{departmentId}
			</if>
		</where>
	</select>
	
	<select id="queryTeacherByStaffId" resultType="com.example.demo.pojo.TeacherPO">
		SELECT * FROM teacher WHERE staff_id = #{staffId}
	</select>
	
	<insert id="addTeacherInfo" parameterType="map">
		INSERT INTO teacher(staff_id, name, department_id, username) VALUES(#{staffId}, #{name}, #{departmentId}, #{staffId})
	</insert>
	
	<update id="updateTeacherInfo" parameterType="map">
		UPDATE teacher SET staff_id=#{staffId}, name=#{name}, department_id=#{departmentId}, username=#{staffId} WHERE id=#{id}
	</update>
	
	<delete id="deleteTeacherInfo" parameterType="list">
		DELETE FROM teacher WHERE staff_id IN
		<foreach collection="list" item="id" open="(" close=")" separator=",">
			#{id}
		</foreach>
	</delete>

</mapper>